<div class="contendor">
    <h3 class="my-3 text-center">Developers</h3>

    <div class="subcontenedor mb-3 d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="https://pbs.twimg.com/media/BDCLPRDCIAAxSc9.jpg">
            <div class="card-body">
                <h5 class="card-title text-center">Neyder Neme</h5>
                <p class="card-text" style="text-align: justify;">Profesor de tecnologia e informatica del csma desde hace 9 años, unico creador del club de tecnologia, cada año escoge un grupo de chicos para competir fuera del colegio</p>
            </div>
        </div>
    </div>

    <div class="subcontenedor d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/RpFrEssizzI/mqdefault.jpg">
            <div class="card-body">
                <h5 class="card-title text-center">Nicol Vargas</h5>
                <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 15 años,proxima a
                    grauarse en el 2023, excelente estudiante en todas las areas, ganadora de la beca, promedio general
                    sobre 9,7</p>
            </div>
        </div>
    </div>

</div>