<div class="contendor w-100">
  <h3 class="text-center my-3">Titulares</h3>
  <div class="subcontedor d-flex justify-content-center">

    <div class="card" style="width: 90%;">
        <img src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/BKR6IXPGGRBKFOOMQS3WKLSRUE.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accidente avianca</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque quam temporibus sequi nisi reiciendis, impedit vero libero qui consectetur!</p>
          <a href="#" class="btn btn-primary">Mas informacion</a>
        </div>
      </div>


  </div>
</div>
